body {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    background-color:rgb(226, 226, 226) ;
    color: rgb(67, 102, 167);
  }
h1 {
    color:rgb(67, 102, 167);
    font-size: 35pt;
    text-align: left;
    margin-left: 2.6%;
  }
h3 {
  color:rgb(67, 102, 167);
  font-size: 16pt;
  text-align: left;
  margin-left: 2.6%;
}
  .name_of_the_site{
    text-align:left;
    margin-right: 32%;
  }
  .less{
    font-size: 30pt;
  }
  .icon{
    text-align:right;
    margin-left:52%;
    position:absolute;
    right: 0;
    margin-right: 5%;
    margin-top:-0.5%;
  }
.main{
    background-color:whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 0.5%;
    margin-left: 2.6%;
    float:left;
    width: 68%;
}
  .info{
    display: inline-block;
    width: 80%;
    margin-bottom: 1%;
  }
  .logout{
    display: inline-block;
    width: 15%;
    text-align: right;
    margin-bottom: 1%;
  }
  .menu{ /* меню справа в уроках */
      width: 25%;
      background-color:whitesmoke;
      border: 3px solid whitesmoke;
      border-radius: 10px;
      margin-right: 2.6%;
      text-align:right;
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 0; /* Stay on top */
      top: 4; /* Stay at the top */
      right: 0;
  
  
  }
  p {
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    text-align:center;
    margin-left: 2.6%;
    margin-right: 2.6%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
  
    border: 3px solid rgb(67, 102, 167);
  
    padding: 0.5%;
    color:whitesmoke;
    background-color:rgb(67, 102, 167);
    
  }
  ol, ul {
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    text-align:left;
    margin-left: 2.6%;
    margin-right: 2.6%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
  
    border: 3px solid rgb(67, 102, 167);
  
    padding: 2%;
    color:whitesmoke;
    background-color:rgb(67, 102, 167);
    
  }
  .code_inp {
    font-family: Consolas, monospace;
    text-align:left;
    border-radius: 3px;
    color: white;
    background-color: rgb(85, 130, 212);
    border: 3px solid rgb(85, 130, 212);
  }
  .code_out {
    font-family: Consolas, monospace;
    text-align:left;
    border-radius: 3px;
    color:white;
    background-color: rgb(85, 130, 212);
    display: block;
    border: 3px solid rgb(85, 130, 212);
  }
  .lesson_images{
    margin-left: 2.6%;
    margin-right: 2.6%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .lesson {
    text-align:justify;
    color:rgb(85, 130, 212);
    background-color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: none;
  }
  .buttons { /* кнопки вверху в панели (уроки, главная, зарегестрироваться, войти) */
    background-color:rgb(85, 130, 212);
    border-color:rgb(85, 130, 212);
    height: 40px;
    padding-top:1%
  }
  .btn-menu {
  text-decoration:none;
  text-align:center;
  margin: 3%;
    
  border: 3px solid  rgb(226, 226, 226);
  border-radius: 10px;
    
  padding: 0.5%;
  color: rgb(67, 102, 167);
  background-color:rgb(226, 226, 226);
  display:block;

  background-image: -webkit-linear-gradient(45deg, rgb(67, 102, 167) 50%, transparent 50%);
  background-image: linear-gradient(45deg, rgb(67, 102, 167) 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  }
  .btn-menu:hover {
    background-position: 0;
    color:rgb(226, 226, 226);
  }
  .btn{ /* кнопки в верхнем тулбаре */
    text-decoration:none;
    text-align:center;
    margin: 1%;
    margin-left: 2.6%;
    border: 3px solid  rgb(85, 130, 212);
    padding: 0.5%;
    color:#f0f0f0;
    background-color:rgb(85, 130, 212);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .btn:hover {
    background-color:whitesmoke;
    color:rgb(85, 130, 212);
  }
  .btn:active {
    transform: translateY(4px);
  }
  .btn-active{
    font-size: 14pt;
    text-decoration:none;
    text-align:center;
    margin: 1%;
  
    border: 0px solid white;
    border-radius: 10px;
    padding: 0.5%;
    color: rgb(67, 102, 167);
    background-color: whitesmoke;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .btn-active:hover {
    box-shadow: 0 0 0 3px rgb(245, 245, 245),
              0 0 0 6px rgba(245, 245, 245, 0.6),
              0 0 0 9px rgba(245, 245, 245, 0.4);
    background-color: rgb(85, 130, 212);
    color: whitesmoke
  }
  
  .btn-active:active {
    transform: translateY(4px);
  }
  .form-control{
    border: 3px solid white;
    border-radius: 10px;
  }
  .text{
    margin-left: 2.6%;
    border: 3px solid rgb(85, 130, 212);
    border-radius: 10px;
    width: 50%;
  }
  .lesson-cards{
    border-width: 7px;
    border-radius: 10px;
    background: -webkit-linear-gradient(0deg, rgb(51, 78, 128),rgb(85, 130, 212));
    background: linear-gradient(0deg, rgb(51, 78, 128),rgb(85, 130, 212));
    display: inline-block;
    width: 590px;
    margin: 7px;
    padding: 10px;
    padding-bottom: 20px;
  }
  .lesson-cards .lesson{
    border: 0;
    background: transparent;
    color: whitesmoke;
    margin-bottom: 15px;
  }
  .lesson-cards .btn{
    border-radius: 10px;
    margin: 20px;
  }
  .lesson-cards h3 {
    color:whitesmoke;
  }
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
    margin-top: 20px;
}
footer {
	flex: 0 0 auto;
    background-color:rgb(85, 130, 212);
    height: 230px;
    margin-top: 30px;
}
header {
    margin-top: 20px;
}
footer h2 {
    color: whitesmoke;
    font-weight: lighter;
    font-style:italic;
}
.footer-content{
  display:inline-block;
  margin-top: 70px;
  margin-left: 50px;
}
.footer-btn{
  display: block;
  color: whitesmoke;
  text-decoration: none;
  font-weight: lighter;
  font-style:italic;
}
.footer-btn:hover{
  transform: scale(1.15);
  transition: all 250ms ease-in-out;
}
pre {
  background-color: rgb(85, 130, 212);
  color: whitesmoke;
  margin-left: 2.6%;
  margin-right: 2.6%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px;
  width:fit-content;
  border-radius: 10px;
  font-family: monospace;
}
.footer-content h2 {
    vertical-align: top;
}
table {
  margin-left: 2.6%;
  margin-right: 2.6%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-collapse: collapse;
}
td, th {
  font-size: 20pt;
  text-align: center;
  padding: 3px;
  border: 4px solid rgb(67, 102, 167);
  height: 35px;
}