{% extends "base.html" %}
{% block content %}
	<br>
	<div class="main">
		<h1 class="less">Урок № 3: "Простые типы данных: строки"</h1>
        <p class="lesson">
            Итак, мы с вами уже рассмотрели числовые типы данных: int и float. Далее будем рассматривать ещё один
            протой, но очень важный тип данных - строки. В python они называются str. Они похожи на те строки,
            которые ученики обычно пишут в тетрадях. Только в python строки записываются в ковычках - одинарных или двойных.
        </p>
        <p class="code_inp">
            "Привет, мир!" <i># строка</i>
        </p>
        <p class="lesson">Однако для удобства работы символы в строках пронумерованы,
            или <i>проиндексированны</i>. Но считать мы начинаем не с единицы, как учили в начальной школе.
            Счёт в python ведётся <strong>с нуля</strong>. Таким образом, все символы в строке слева направо
            пронумерованы, начиная с нуля.
        </p>
        <img class="lesson_images" src="{{ url_for('static', filename='images/string.jpg') }}" width=70% height=70%>
        <p class="lesson">
            Кроме того, существует индексация справа налево. Такая индексация начиается с конца слова с индекса -1.
            Далее каждый индекс последовательно уменьшается на одну единицу
        </p>
        <img class="lesson_images" src="{{ url_for('static', filename='images/string2.jpg') }}" width=70% height=70%>
        <p class="lesson">
            Зная индекс каждого символа, можно получить значение (данный символ), зная его индекс. Допустим, нам необходимо
            получить значение пятого символа некой строки <i>a</i> и записать это значение в переменную <i>b</i>. Это мы
            можем сделать так: название_строки[индекс]. Помните, что пятый по счёту символ будет иметь индекс 4, потому
            что отсчёт начинается С НУЛЯ.
        </p>
        <p class="code_inp">
            a = "Привет, мир!" <br> b = a[4] <br> print(b)
        </p>
        <p class="code_out">
            >>> е
        </p>
        <p class="lesson">
            Но в каких случаях может пригодиться другой способ индексации? (справа налево). Допустим, у нас есть длинная строка.
            Например, длина её больше 100 символов. Тогда удобнее получить значение символа, находящегося ближе к концу строки
            будет удобнее, если обратиться к данному символу через отрицательный индекс. Пример:
        </p>
        <p class="code_inp">
            a = "abcdefghijklmnopqrstuvwxyzabc..."<br>
            # далее идёт повтор строки 4 раза<br>
            b = a[100] <br> c = a[-4] <br> print(b, c)
        </p>
        <p class="code_out">
            >>> w w
        </p>
        <p class="lesson">
            Итак, на данный момент мы умеем получать только один символ строки по индексу. Но что же делать, если необходимо
            "извлечь" из строки последовательность символов? Это можно сделать с помощью <i>срезов</i>. Они работают так:
            после названия строки в квадратных скобках пишем область среза. Пример: a[3:6]. Эта запись означает, что осуществится срез
            строки с третьего по пятый символ включительно (речь именно об индексаз python). Так, стоп. Ничего не понятно. В скобках написано 3 и 6, а на деле получаем
            3 и 5. Как так? Дело в том, что правая граница не включается в срез.
        </p>
        <img class="lesson_images" src="{{ url_for('static', filename='images/string3.jpg') }}" width=70% height=70%>
        <p class="lesson">
            если не указать начальное значение среза, то он будет сделан от начала строки, если не указать конечное - до конца. Пример:
        </p>
        <p class="code_inp">
            a = "Привет, мир!" <br> b = a[:4] <br> print(b)
        </p>
        <p class="code_out">
            >>> Прив
        </p>
        <p class="code_inp">
            a = "Привет, мир!" <br> b = a[5:] <br> print(b)
        </p>
        <p class="code_out">
            >>> т, мир!
        </p>
        <p class="lesson">
            В срезах есть дополнительный параметр: шаг. Он указывается после правой границы через двоеточие и обозначает промежуток, через который
            буквы будут отбираться в срез. Примерно так:
        </p>
        <p class="code_inp">
            a = "Привет, мир!" <br> b = a[3:10:2] <br> print(b)
        </p>
        <p class="code_out">
            >>> вт и
        </p>
        <img class="lesson_images" src="{{ url_for('static', filename='images/string4.jpg') }}" width=70% height=70%>
        <p class="lesson">
            Шаг может быть и отрицательным, тогда буквы в срез будкт отбираться в обратном порядке, то есть слрава налево. Тогда нужно начинать с правой границы среза
            в слове, а заканчивать левой, так как в срез забираются буквы в обратном порядке.
        </p>
        <p class="code_inp">
            a = "Привет, мир!" <br> print(a[10:3:-2])
        </p>
        <p class="code_out">
            >>> рм,е
        </p>
        <p class="lesson">
            <i>Лайфхак</i> <br> Чтобы просто перевернуть порядок символов в строке, достаточно сделать её срез не задавая значений границ среза
            (тогда строка будет учитываться целиком) и указать шаг -1, чтобы буквы из строки "отбирались" в срез без пропусков, а
            лишь в обратном порядке:
        </p>
        <p class="code_inp">
            a = "Привет, мир!" <br> print(a[::-1])
        </p>
        <p class="code_out">
            >>> !рим ,тевирП
        </p>
        <p class="lesson">
            Кроме того, строки поддерживают ещё некоторые операции. Это <i>конкатенация</i> и умножение строки на число.
            Рассмотрим, как это работает. Кокатенация - сложение строк. То есть если нужно соединить несколько строк в одну,
            нам необходимо "скрепить" их знаком простого сложения, то есть знаком "+".
        </p>
        <p class="code_inp">
            a = "Привет, " <br> b = "мир!" <br> print(a + b)
        </p>
        <p class="code_out">
            >>> Привет, мир!
        </p>
        <p class="lesson">
            Умножение строк тоже сужествует. Только умнжать строку на строку нельзя. Только строку на число. И тогда данная
            строка будет повторяться столько раз, на сколько мы её умножили. Проще говоря мы "прибавляем" к нужной строке
            её же саму столько раз, на сколько мы её умножили. Ничего не понятно? Сейчас покажем.
        </p>
        <p class="code_inp">
            a = "Мама" <br> b = 5 <br> print(a * b)
        </p>
        <p class="code_out">
            >>> МамаМамаМамаМамаМама
        </p>
        <p class="lesson">
			<br> На этом закончим наш первый урок. Вас ожидает выполнение теста по изученной теме.
			<a class="btn btn-primary " href="/test_strings">Приступить к тестированию</a>
		</p>
	</div>
	<div class="menu">
		<p>Навигация по урокам:</p>
		<a class="btn-menu " href="/lessons/lesson_1">Урок №1: Ввод и вывод</a>
		<a class="btn-menu " href="/lessons/lesson_2">Урок №2: Простые типы данных: числа</a>
		<a class="btn-menu " href="/lessons/lesson_3">Урок №3: Простые типы данных: строки</a>
	</div>

{% endblock %}