{% extends "base.html" %}
{% block content %}
	<br>
	<div class="main">
		<h1 class="less">Урок № 1: "Ввод и вывод"</h1>
		<p class="lesson">Начнём изучение языка с одного из базовых операторов – оператора вывода.
			Чтобы вывести что-то на экран,
			необходимо написать одну простую команду – <strong>print()</strong>.
			Эта функция является одним из первых шагов при изучении как программирования в целом,
			так и конкретного синтаксиса. В скобках нужно записать то, что необходимо вывести.
			Это является аргументом функции.
			Если это некая строка – последовательность символов – то её необходимо заключать в кавычки.</p>
		<p class="code_inp">print(‘Hello world!’)</p>
		<p class="code_out">>>> Hello world!</p>
		<p class="lesson">Можно использовать как двойные, так и одинарные кавычки. Главное, 
			чтобы использовался один и тот же тип открывающейся и закрывающейся кавычки. Например:</p>
		<p class="code_inp">print(‘Hello, World!’)</p>
		<p class="code_inp">print("Hello, World!")</p>
		<p class="lesson">Эти операторы выведут на экран одно и то же. Если необходимо, 
			чтобы сама строка содержала кавычки (например, вы желаете использовать прямую речь), 
			то следует использовать кавычки одного типа в роли ограничителей строки, а другого – внутри строки. 
			Например:</p>
		<p class="code_inp">print("Она сказала: ‘Давай пойдём в кино!’, - и уставилась на меня в ожидании ответа.")</p>
		<p class="lesson">Предположим, что нужно добавить перенос строки или вертикальный отступ 
			между двумя выводами. Для этого достаточно вызвать print() не передавая аргументов.</p>
		<p class="code_inp">print("Hello, World!") <br> print() <br> print("Hello, World!")
			</p>
		<p class="code_out">>>> Hello, World! <br> <br> Hello, World!
			</p>
		<p class="lesson">Рассмотрим синтаксис функции print().</p>
		<img class="lesson_images" src="{{ url_for('static', filename='images/print.jpg') }}" width=90% height=90%>
		<p class="lesson">Данное изображение - скриншот из среды IDLE. Здесь есть подсказка о том, 
			как работает функция вывода.<br>
			Value – это основной аргумент – то, что мы хотим вывести. Здесь может содержаться большое 
			количество разных строк, переменных, перечисленных через запятую.<br>
			Тогда что значат остальные аргументы? Давайте разберёмся.
			</p>
		<ul>
			<li>
				<p class="lesson">
					<strong>sep</strong> (от англ. “separator” – разделитель) - это строка, которая разделяет значения, 
					введённые через запятую, по умолчанию — пробел.
				</p>
				<p class="code_inp">
					print(‘Hello’, ‘world!’)
				</p>
				<p class="code_out">
					>>> Hello world!
				</p>
				<p class="lesson">
					Для изменения этого параметра необходимо ввести именованный аргумент 
					(именованный – потому что у него есть название, которое необходимо указывать) 
					sep=’необходимая_строка’. Это может быть любая строка, например “ - ”.
				</p>
				<p class="code_inp">
					print(‘Hello’, ‘world’, ‘world’, ‘Hello’, sep=’ - ’)
				</p>
				<p class="code_out">
					>>> Hello – world – world - Hello
				</p>
			</li>
			<li>
				<p class="lesson">
					<strong>end</strong> (от англ. “end” – конец, окончание) - это строка,
					которая добавляется после последнего значения.
					По умолчанию — это перенос на новую строку (\n).
					С помощью аргумента end программист может самостоятельно 
					определить окончание выражения print.
				</p>
				<p class="code_inp">
					print("Hello,") <br> print("World!")
				</p>
				<p class="code_out">
					>>> Hello, <br> World!
				</p>
				<br>
				<p class="code_inp">
					print("Hello,", end=' ') <br> print("World!")
				</p>
				<p class="code_out">
					>>> Hello, World!
				</p>
			</li>
		</ul>
		<p class="lesson">
			Знания данных аргументов на начальном этапе будет достаточно. <br> Далее изучим еще один оператор - 
			оператор ввода. Для того чтобы мы могли брать информацию у пользователя, нам необходимо для начала
			определить переменную, в которой будет храниться эта информация. Можно выбрать практически любое название,
			однако существует ряд ограничений. Название переменной:
		</p>
			<ul>
				<li><p class="lesson">должно начинаться с алфавитного символа или со знака подчеркивания (a-z или A-Z; _)</p></li>
				<li><p class="lesson">может содержать алфавитно-цифровые символы и знак подчеркивания (a-z или A-Z; 0-9; _)</p></li>
				<li><p class="lesson">не должно совпадать с названием ключевых слов языка Python (for, def, in, int, str, float, if, else и др.)</p></li>
				<li><p class="lesson">обычно пишется или полностью большими или полностью маленькими буквами (например DB_NAME, db_name)</p></li>
			</ul><br>
		<p class="lesson">
			Последний пункт является скорее рекомендацией, а не строгим правилом. Сейчас, когда программы, которые мы будем писать, будут небольшими,
			можно использовать простые названия переменных (a, b, c и т.д.), однако всё-таки рекомедуем писать названия переменных осознанно,
			то есть название должно отражать назначение переменной. Допустим, для начала, мы имеем некоторую переменную a. как задать ей значение,
			введённое пользователем? Очень просто. Для этого в python есть оператор присваивания '='. Таким образом, получаем выражение 'a ='. Но
			равно чему? тут уже необходима функция input(). То есть в итоге мы получаем: a = input(). Сама по себе функция input() возвращает
			то, что ввёл пользователь, причём в качестве строки. Теперь можно выводить то, что мы получим от пользователя</p>
		<p class="code_inp">
			a = input() <i># вводим строку "Hello"<br>print(a)</i>
		</p>
		<p class="code_out">
			>>> Hello
		</p>
		<p class="lesson">
			<br> На этом закончим наш первый урок. Вас ожидает выполнение теста по изученной теме.
			<a class="btn btn-primary " href="/test_input_output">Приступить к тестированию</a>
		</p>
		
	</div>
	<div class="menu">
		<p>Навигация по урокам:</p>
		<a class="btn-menu " href="/lessons/lesson_1">Урок №1: Ввод и вывод</a>
		<a class="btn-menu " href="/lessons/lesson_2">Урок №2: Простые типы данных: числа</a>
		<a class="btn-menu " href="/lessons/lesson_3">Урок №3: Простые типы данных: строки</a>
		<a class="btn-menu " href="/lessons/lesson_4">Урок №4: Условия</a>
	</div>

{% endblock %}
