{% extends "base.html" %}
{% block content %}
	<h1>Уроки</h1>
	<h3>Урок №1: "Ввод и вывод"</h3>
	<p class="lesson">
		Первый урок научит выводу и вводу данных - самой базе программирования. Можно познакомиться с аргуменатми вывода,
		особенностями ввода данных,
		а также с правилами для названий переменных в python.
	</p>
	<br>
	<a class="btn btn-primary " href="/lessons/lesson_1">Начать обучение</a>
	<a class="btn btn-primary " href="/test_input_output">Начать тестирование</a>
	<h3>Урок №2: "Простые типы данных: числа"</h3>
	<p class="lesson">
		Данный урок нацелен на изучение целочисленного типа данных и чисел с плавающей точкой.
		Рассматриваются арифметические операции с числами, разрабатывается первая программа.
	</p>
	<br>
	<a class="btn btn-primary " href="/lessons/lesson_2">Начать обучение</a>
	<a class="btn btn-primary " href="/test_numbers">Начать тестирование</a>
	<h3>Урок №3: "Простые типы данных: строки"</h3>
	<p class="lesson">
		В этом уроке можно научиться работать со строками, их индексами. Это позволит узнать, как делать срезы
		строк. На этом занятии также можно познакомиться с основными операциями над строками.
	</p>
	<br>
	<a class="btn btn-primary " href="/lessons/lesson_3">Начать обучение</a>
	<a class="btn btn-primary " href="/test_strings">Начать тестирование</a>
{% endblock %}
