{% extends "base.html" %}
{% block content %}
	<br>
	<div class="main">
		<h1 class="less">Урок № 1: "Ввод и вывод"</h1>
		<p class="lesson">Начнём изучение языка с одного из базовых операторов – оператора вывода.
			Чтобы вывести что-то на экран,
			необходимо написать одну простую команду – <strong>print()</strong>.
			Эта функция является одним из первых шагов при изучении как программирования в целом,
			так и конкретного синтаксиса. В скобках нужно записать то, что необходимо вывести.
			Это является аргументом функции.
			Если это некая строка – последовательность символов – то её необходимо заключать в кавычки.</p>
		<p class="code_inp">print(‘Hello world!’)</p>
		<p class="code_out">>>> Hello world!</p>
		<p class="lesson">Можно использовать как двойные, так и одинарные кавычки. Главное, 
			чтобы использовался один и тот же тип открывающейся и закрывающейся кавычки. Например:</p>
		<p class="code_inp">print(‘Hello, World!’)</p>
		<p class="code_inp">print("Hello, World!")</p>
		<p class="lesson">Эти операторы выведут на экран одно и то же. Если необходимо, 
			чтобы сама строка содержала кавычки (например, вы желаете использовать прямую речь), 
			то следует использовать кавычки одного типа в роли ограничителей строки, а другого – внутри строки. 
			Например:</p>
		<p class="code_inp">print("Она сказала: ‘Давай пойдём в кино!’, - и уставилась на меня в ожидании ответа.")</p>
		<p class="lesson">Предположим, что нужно добавить перенос строки или вертикальный отступ 
			между двумя выводами. Для этого достаточно вызвать print() не передавая аргументов.</p>
		<p class="code_inp">print("Hello, World!") <br> print() <br> print("Hello, World!")
			</p>
		<p class="code_out">>>> Hello, World! <br> <br> Hello, World!
			</p>
		<p class="lesson">Рассмотрим синтаксис функции print().</p>
		<img class="lesson_images" src="{{ url_for('static', filename='images/print.jpg') }}" width=90% height=90%>
		<p class="lesson">Данное изображение - скриншот из среды IDLE. Здесь есть подсказка о том, 
			как работает функция вывода.<br>
			Value – это основной аргумент – то, что мы хотим вывести. Здесь может содержаться большое 
			количество разных строк, переменных, перечисленных через запятую.<br>
			Тогда что значат остальные аргументы? Давайте разберёмся.
			</p>
		
	</div>
	<div class="menu">
		<p>Навигация по урокам:</p>
		<a class="btn-menu " href="/lessons/lesson_1">Урок №1: Ввод и вывод</a>
		<a class="btn-menu " href="/lessons/lesson_2">Урок №2: Типы переменных</a>
	</div>

{% endblock %}
