{% extends "base.html" %}
{% block content %}
	<br>
	<div class="main">
		<h1 class="less">Урок № 4: "Условия"</h1>
        <p class="lesson">
            Для чего нужны ветвления? Они помогают тогда, когда в программе существуют разные вырианты "развития событий"
            В жизни тоже есть много примеров ветвлений. Например, иногда, глядя на улицу, мы видим, что идёт дождь. При этом думаем,
            что если станет солнечно, то стоит пойти гулять. В противном случае лучше остаться дома. Каждый день человек сталкивается
            со множеством выборов. Выбор &mdash; <strong>Ветвеления</strong> &mdash; необходимы и в программировании и присутствуют практически в каждой программе.
            Они позволяют решить большое количество задач. Давайте начнём рассмотрение темы с определения типов ветвлений.
            Ветвления (условия) бывают <strong>полными</strong> и <strong>неполными</strong>.
			Рассмотрим неполные ветвления на примере программы:</p> 
<pre>
print("Добро пожаловать!")
print("Сколько тебе лет?")
age = int(input())
if age < 18:
  print("Извини, тебе нельзя использовать эту программу!")
</pre>
		<p class="lesson">
			Для начала пользователь вводит свой возраст. Он записывается в переменную <i>age</i>. Далее мы сравниваем возраст (age) с числом 18.
			Если возраст строго меньше 18, то выводится сообщение о том, что использовать эту программу нельзя. Обратите внимание: в этой программе использована условная
			конструкция:</p>
<pre>
if age < 18:
  print("Извини, тебе нельзя использовать эту программу!")
</pre>
		<p class="lesson">
			Для обозначения условия используют слово <i>if</i> - "если". Если возраст меньше 18, тогда условие истинно, значит выводится строка. Иначе
			ничего не выводится, программа переходит к следующему оператору. Когда формируются условия с помощью оператора if, то после него 
			всегда задаётся выражение, которое может быть либо истинным, либо ложным. Для этого (чаще всего) используются операторы сравнения. 
			Далее приведена таблица операторов сравнения:</p>
		<table>
				<tr>
				  <td>Оператор</td><td>Значение</td>
				</tr>
				<tr>
					<td><</td><td>Больше</td>
				</tr>
				<tr>
					<td>></td><td>Меньше</td>
				</tr>
				<tr>
					<td><=</td><td>Меньше или равно</td>
				</tr>
				<tr>
					<td>>=</td><td>Больше или равно</td>
				</tr>
				<tr>
					<td>==</td><td>Равно</td>
				</tr>
				<tr>
					<td>!=</td><td>Не равно</td>
				</tr>
		</table>
		<p class="lesson">
			Обратите внимание на то, что после условного оператора следует отступ! Отступ превращает код в блок. Блок - это одна или несколько строк с одинаковым отступом.
			Таким образом в блоке с отступом можно писать множество операторов, а также делать вложенные условия. Соблюдение отступов обязательно, если пишешь
			на языке Python. Кроме того, после каждого условия необходимо ставить двоеточие. Перейдём к рассмотру полных ветвлений &mdash; оператору if с условием else.</p>

<pre>
print("Добро пожаловать!")
print("Сколько тебе лет?")
age = int(input())
if age < 18:
  print("Извини, тебе нельзя использовать эту программу!")
else:
  print("Доступ к программе открыт!")
</pre>
		<p class="lesson">
			В результате получаем программу, которая выводит что-то в любом случае. Если возраст больше 18, срабатывает блок else (еще, иначе, кроме). И 
			на выводе программы видим, что доступ к программе открыт. Но что делать, если условий несколько? тогда нужно использовать конструкцию <i>elif</i> - else + if. 
			(иначе + если). Тогда программа может выглядеть вот так:</p>
<pre>
print("Какую оценку ты получил по информатике?")
mark = int(input())
if mark == 5:
  print("Молодец!")
elif mark == 4:
  print("Хорошо.")
elif mark == 3:
  print("Неплохо, но можно и лучше.")
else:
  print("Тебе стоит больше стараться.")
</pre>
	<p class="lesson">
		Так, в зависимости от оценки ученика на экран выводятся разные надписи. В общем виде условие можно представить так:</p>
<pre>
if условие_1:
  блок_1
elif условие_2:
  блок_2
elif условие_n:
  блок_n
else:
  блок_n+1
</pre>
	<p class="lesson">
		<br> На этом закончим наш урок. Вас ожидает выполнение теста по изученной теме.
		<a class="btn btn-primary " href="/test_if">Приступить к тестированию</a>
	</p> 
	</div>
	<div class="menu">
		<p>Навигация по урокам:</p>
		<a class="btn-menu " href="/lessons/lesson_1">Урок №1: Ввод и вывод</a>
		<a class="btn-menu " href="/lessons/lesson_2">Урок №2: Простые типы данных: числа</a>
		<a class="btn-menu " href="/lessons/lesson_3">Урок №3: Простые типы данных: строки</a>
		<a class="btn-menu " href="/lessons/lesson_4">Урок №4: Условия</a>
	</div>

{% endblock %}