{% extends "base.html" %}
{% block content %}
<br>
<div class="main">
	<h1>Авторизация</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<ul>
			<li>
			{{ form.email.label }}<br>
			{{ form.email(class="text", type="email") }}</li><br>
			{% for error in form.email.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
			<li>
			{{ form.password.label }}<br>
			{{ form.password(class="text", type="password") }}</li><br>
			{% for error in form.password.errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
			<li>
			{{ form.remember_me() }} {{ form.remember_me.label }}</li>
        	</ul>
		{{ form.submit(type="submit", class="btn btn-active") }}
		<div>{{ message }}</div>
	</form>
</div>
{% endblock %}
